/* ---------- Police ---------- */
@font-face {
    font-family: 'WazeBoing';
    src: url('waze_boing.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ---------- Reset / base ---------- */
* {
    box-sizing: border-box;
    font-family: 'WazeBoing';
}

body {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

select {
    outline: none;
    font-weight: bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

select:hover {
    background: #eee;
}

#loire-atlantique {
    position: relative;
    width: 750px;
    height: 750px;
    background: #3cf;
}

/* ---------- Info haut / bas ---------- */
#info-haut {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
    z-index: 20;
}

#info-bas {
    position: absolute;
    bottom: 5px;
    left: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    z-index: 20;
}

#info-bas img {
    height: 35px;
}

/* ---------- Barrières ---------- */
#barriere {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}

.barriere-hor,
.barriere-vert {
    position: absolute;
    border: 3px solid black;
}

.barriere-hor {
    height: 25px;
    width: calc(100% - 80px);
    background: repeating-linear-gradient(90deg,
            #ed503b 0 30px,
            white 30px 60px);
}

.barriere-vert {
    width: 25px;
    height: calc(100% - 80px);
    background: repeating-linear-gradient(0deg,
            #ed503b 0 30px,
            white 30px 60px);
}

#barriere-top {
    top: 40px;
    right: 40px;
}

#barriere-bottom {
    bottom: 40px;
    right: 40px;
}

#barriere-left {
    left: 40px;
    top: 40px;
}

#barriere-right {
    right: 40px;
    top: 40px;
}

/* ---------- Icônes ---------- */
.icon-haut-gauche,
.icon-bas-gauche,
.icon-haut-droit,
.icon-bas-droit {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
    padding: 2px;
    z-index: 15;
}

.icon-haut-gauche {
    top: 15px;
    left: 15px;
}

.icon-bas-gauche {
    bottom: 15px;
    left: 15px;
}

.icon-haut-droit {
    top: 15px;
    right: 15px;
}

.icon-bas-droit {
    bottom: 15px;
    right: 15px;
}

/* ---------- Mosaic / description ---------- */
#mosaic {
    padding: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#description {
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    height: 265px;
    align-items: center;
    width: 550px;
}

#description span {
    overflow: auto;
    text-align: center;
    font-size: 20px;
    resize: both;
    max-width: 514px;
}

/* ---------- Mosaic Bottom ---------- */
#mos-bot {
    display: flex;
    justify-content: space-between;
}

#image {
    width: calc(50% - 10px);
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid black;
    cursor: pointer;
    width: 265px;
    height: 265px;
    background-color: #fff;
}

#date {
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: 265px;
}

#date span {
    overflow: auto;
    resize: both;
    max-width: 229px;
}

/* ---------- SAVOIE ---------- */
/* ---------- Zone principale ---------- */
#savoie {
    display: none;
    gap: 25px;
}

#captureZone {
    width: 750px;
    height: 750px;
    position: relative;
    background-position: center;
    display: flex;
    justify-content: center;
    background-image: url("Images/fonds/fond-defaut.png");
    background-size: cover;
}

/* ---------- Zone de texte ---------- */
#texteZone {
    position: absolute;
    color: black;
    padding: 20px;
    height: 475px;
    width: 550px;
    top: 210px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#texteZone span {
    outline: none;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

/* ---------- Zone d'options fixe---------- */
#static-style-editor {
    display: flex;
    width: 750px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5px;
}

#static-style-editor hr {
    border: none;
    border-left: 1px solid rgb(175 175 175);
    margin: 0;
}

#static-style-editor img {
    cursor: pointer;
    user-select: none;
    text-align: center;
    height: 33px;
    padding: 5px;
}

#static-style-editor img:hover {
    background: #eee;
}

#static-style-editor>div {
    display: flex;
    gap: 3px;
}

#static-style-editor #input-color-text,
#static-style-editor #input-highlight-text {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

#highlight-text {
    background-color: red;
}